<ul>
  <% @list_desc.each do |todo_desc| %>
  <h1><%= rand(9001) %></h1>
  <h2>Stuff and things</h2>
  <h3><%= |todo_desc|%></h3>
  <li>
    <input type="checkbox"></input>
    <span>Complete all missed assignments - Physics</span>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Study rehtoric section for quiz - Communications</span>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Complete lab assignment #4 - AP Computer Science</span>
  </li>
  <% end %>
</ul>
